name: Publish to PyPI

on:
  release:
    types: [created]

env:
  LATEST_PYTHON_VERSION: 3.13

jobs:
  publish:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: ${{ env.LATEST_PYTHON_VERSION }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install build

      - name: Build package
        run: |
          rm -rf dist
          python -m build

      - name: Publish package to PyPI
        run: |
          pip install twine
          python -m twine upload -u __token__ -p ${{ secrets.PYPI_TOKEN }} dist/*

      - name: Attach binaries to release
        uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # v2.4.2
        with:
          files: dist/*
