name: Publish to PyPI

on:
  release:
    types: [created]

env:
  LATEST_PYTHON_VERSION: 3.13

jobs:
  publish:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: ${{ env.LATEST_PYTHON_VERSION }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install build

      - name: Build package
        run: |
          rm -rf dist
          python -m build

      - name: Publish package to PyPI
        run: |
          pip install twine
          python -m twine upload -u __token__ -p ${{ secrets.PYPI_TOKEN }} dist/*

      - name: Attach binaries to release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          files: dist/*
